{{ define "main" -}}

{{ .Content }}
<div class="posts">
    {{ range (where .Site.RegularPages "Type" "in" (slice "articles" "notes" "reviews")) }}
    <article class="entries homepage">
        <li>
            {{ if eq .Type "articles"}}
                {{ partial "svg.html" "book" }}
            {{ else if eq .Type "notes"}}
                {{ partial "svg.html" "sticky-note" }}
            {{ else if eq .Type "reviews"}}
                {{ partial "svg.html" "star-half-stroke" }}
            {{ end }}

            <span class="title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </span>
            <span class="published">
                <time class="pull-right post-list">{{ .Date | time.Format ":date_long" }}</time>
            </span>
        </li>
    
    </article>
    {{- end }}
</div>
{{ partial "pagination.html" . }}

<div class="h-card"  hidden="true">
    <span class="p-name">Matthew Lamont</span>
    <span class="p-given-name" >Matthew</span>
    <span class="p-family-name">Lamont</span></span>
    <img class="u-photo" src="/img/people/matthew_lamont.jpg"/>
    <a class="u-url" href="https://techtea.io" rel="me">w</a>,
    <a class="u-email" href="dev@mattlamont.com" rel="me">e</a>
    <div class="u-note">Digital freedom and FOSS software advocate.</div>
</div>
{{- end }}
