{{ define "main" -}}

{{ .Content }}
<div class="posts">
    {{ range (.Paginate (where .Site.RegularPages "Type" "articles")).Pages }}
    <article class="post">
        {{ partial "post/info.html" . }}
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
    </article>
    {{- end }}
</div>
{{ partial "pagination.html" . }}

<div class="h-card"  hidden="true">
    <span class="p-name">Matthew Lamont</span>
    <span class="p-given-name" >Matthew</span>
    <span class="p-family-name">Lamont</span></span>
    <img class="u-photo" src="/img/people/matthew_lamont.jpg"/>
    <a class="u-url" href="techtea.io" rel="me">w</a>,
    <a class="u-email" href="mailto:{{.Params.u_email}}">e</a>
    <div class="u-note">Digital freedom and FOSS software advocate.</div>
</div>
{{- end }}
